<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<f>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="addtwonumbers" method="POST">
        <p>
           <label for="firstvalue">Enter First Number</label>
           <input type="text" name="firstvalue"/>
        </p>

        <p>
            <label for="secondvalue">Enter Second Number</label>
            <input type="text" name="secondvalue"/>
        </p>

        <button type="submit" > ADD </button>

    </form>
</body>
</html>