<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    
        header{
            background-color: rgb(10, 191, 208);
            color: white;
            text-align: center;
            font-size: 35px;
            padding: 30px;
        }
        footer{
            background-color:rgb(10, 191, 208);
            color: white;
            text-align: center;
            font-size: 25px;
            padding: 10px;
            
        }
    </style>
    <title>Document</title>
</head>
<body style="background-color: rgb(208, 208, 208);">
    <header>
        <h2>Welcome</h2>
    </header>
    {% block content  %}
    {% endblock  %}
    <footer>
        <p>GoodBye</p>
    </footer>
</body>
</html>